flows_recup_conso_stat.json
[
    {
        "id": "e9fafc919bcb1bb0",
        "type": "tab",
        "label": "Récup Stats Conso",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1cd063b931506666",
        "type": "group",
        "z": "e9fafc919bcb1bb0",
        "name": "Import heures → recorder.import_statistics (Intuis → HA)",
        "style": {
            "label": true
        },
        "nodes": [
            "2d704099afdb7720",
            "cc620e7aa003eddd",
            "3d53931ad116e962",
            "887d10a1c970d06f",
            "222194434594b82b",
            "28e0c01c67bf8f1a",
            "25f60b7c9b4908c7"
        ],
        "x": 14,
        "y": 719,
        "w": 1492,
        "h": 162
    },
    {
        "id": "40bddeefa0656431",
        "type": "group",
        "z": "e9fafc919bcb1bb0",
        "name": "Rebase base_kwh à J-2 (quotidien 00:01) + garde-fou",
        "style": {
            "label": true
        },
        "nodes": [
            "0820bfa7549022f4",
            "69d019898bb13801",
            "ecccbe1b2a1afe90",
            "428678185e64f81d",
            "a70f6a2cedc558d6",
            "e5e490820ebad235",
            "e4176ff1f4d664e9"
        ],
        "x": 14,
        "y": 899,
        "w": 1432,
        "h": 202
    },
    {
        "id": "55eac72b576d889c",
        "type": "group",
        "z": "e9fafc919bcb1bb0",
        "name": "Import HIER (1h) depuis Intuis → HA recorder.import_statistics",
        "style": {
            "label": true
        },
        "nodes": [
            "4bbff6f268941713",
            "7af8f556aac0a82d",
            "cb27cc16c7c43afc",
            "1f2860ad572e43c5",
            "beccb7f9fcad1b6b",
            "b334d5e806aed874",
            "a74c44a9d300b9e4",
            "1b30ae933cf1de32",
            "c1151738ca0c8042",
            "ee27abf3194d50c8"
        ],
        "x": 14,
        "y": 1239,
        "w": 1632,
        "h": 222
    },
    {
        "id": "e0f310ef645539ec",
        "type": "group",
        "z": "e9fafc919bcb1bb0",
        "name": "Pousse les States vers les sensors",
        "style": {
            "label": true
        },
        "nodes": [
            "a3bfae63e6e3a328",
            "51c63c957e5b6382",
            "d056028a766cc903",
            "bccac2dad26af4b3",
            "9089c50caeda28e0",
            "0bde458557485ee7",
            "f770f934e3b2947a",
            "7c53f51b7e72b35e",
            "6020d2b5c5a7f91c",
            "8a750d7ac05a60a3",
            "bbeb5e685d16d7f2",
            "204f710424894214",
            "574667cf5ab773a7"
        ],
        "x": 2034,
        "y": 639,
        "w": 1072,
        "h": 522
    },
    {
        "id": "76bcd7558fa413aa",
        "type": "group",
        "z": "e9fafc919bcb1bb0",
        "name": "Bilan conso par radiateur (16 août → 6 oct inclus)",
        "style": {
            "label": true
        },
        "nodes": [
            "7d06561d83d9ae30",
            "7bfdf6abc3c6f4a4",
            "2c7d7e6bd284cb92",
            "e175a6bd52325a35",
            "0f6f05ef24faae01",
            "e1f0bcc5f0064327",
            "c9cad622fe8d90c7",
            "a5eeb1e998b414c3"
        ],
        "x": 54,
        "y": 459,
        "w": 1742,
        "h": 202
    },
    {
        "id": "2d704099afdb7720",
        "type": "function",
        "z": "e9fafc919bcb1bb0",
        "g": "1cd063b931506666",
        "name": "Build gethomemeasure: depuis J-1 00:00 local → maintenant",
        "func": "// Build gethomemeasure: J-1 00:00 (local) → maintenant, échelle 1h\nconst home_id  = global.get('home_id');\nconst bridge   = global.get('routeur_id');\n\nconst room_ids = [\n  global.get('room0_id'), global.get('room1_id'), global.get('room2_id'),\n  global.get('room3_id'), global.get('room4_id'), global.get('room5_id'),\n  global.get('room6_id'), global.get('room7_id'), global.get('room8_id'),\n  global.get('room9_id'), global.get('room10_id')\n];\n\n// --- TOKEN ---\nconst rawToken = global.get('AccessToken') || global.get('intuis_token') || global.get('token');\nif (!rawToken) { node.error(\"Token Intuis introuvable\"); return null; }\nmsg.token = rawToken.startsWith('Bearer ') ? rawToken : `Bearer ${rawToken}`;\n\n// --- TZ cohérent ---\nconst tz = global.get('tz') || \"Europe/Paris\";\n\n// \"now\" en local TZ\nconst nowLocal = new Date(new Date().toLocaleString('en-US', { timeZone: tz }));\n// Minuit local aujourd’hui\nconst todayLocalMid = new Date(nowLocal); todayLocalMid.setHours(0,0,0,0);\n// J-1 minuit local\nconst j2LocalMid = new Date(todayLocalMid); j2LocalMid.setDate(j2LocalMid.getDate()-1);\n\nmsg.payload = {\n  date_begin: Math.floor(j2LocalMid.getTime()/1000),\n  date_end:   Math.floor(nowLocal.getTime()/1000),\n  scale: \"1hour\",\n  app_identifier: \"app_muller\",\n  home: {\n    id: home_id,\n    rooms: room_ids.map(id => ({\n      id,\n      bridge,\n      type: \"sum_energy_elec$0\"\n    }))\n  }\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 760,
        "wires": [
            [
                "cc620e7aa003eddd"
            ]
        ]
    },
    {
        "id": "cc620e7aa003eddd",
        "type": "http request",
        "z": "e9fafc919bcb1bb0",
        "g": "1cd063b931506666",
        "name": "Intuis gethomemeasure (1hour)",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://app.muller-intuitiv.net/api/gethomemeasure",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Authorization",
                "keyValue": "",
                "valueType": "msg",
                "valueValue": "token"
            },
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 550,
        "y": 840,
        "wires": [
            [
                "3d53931ad116e962",
                "28e0c01c67bf8f1a"
            ]
        ]
    },
    {
        "id": "3d53931ad116e962",
        "type": "function",
        "z": "e9fafc919bcb1bb0",
        "g": "1cd063b931506666",
        "name": "Prépare les imports (cumul kWh + dédup)",
        "func": "// === Prépare les imports (toujours envoyer, même sans changement) ===\n\n// Map RoomID → statistic_id + nom facultatif\nconst MAP = {\n  '3165697331': { id:'sensor.conso_entree_hourly',               name:\"Conso Entrée Hourly\" },\n  '3330257038': { id:'sensor.conso_chambre_d_amis_hourly',       name:\"Conso Chambre d'amis Hourly\" },\n  '2979072780': { id:'sensor.conso_salle_de_bain_filles_hourly', name:\"Conso SDB Filles Hourly\" },\n  '3957213003': { id:'sensor.conso_chambre_filles_hourly',       name:\"Conso Chambre Filles Hourly\" },\n  '3807033309': { id:'sensor.conso_couloir_hourly',              name:\"Conso Couloir Hourly\" },\n  '3864339241': { id:'sensor.conso_toilettes_visiteurs_hourly',  name:\"Conso WC Visiteurs Hourly\" },\n  '2064991252': { id:'sensor.conso_salon_hourly',                name:\"Conso Salon Hourly\" },\n  '3761003540': { id:'sensor.conso_salle_a_manger_hourly',       name:\"Conso Salle à manger Hourly\" },\n  '3357075329': { id:'sensor.conso_salle_de_bain_parents_hourly',name:\"Conso SDB Parents Hourly\" },\n  '1668330398': { id:'sensor.conso_cuisine_hourly',              name:\"Conso Cuisine Hourly\" },\n  '1707740468': { id:'sensor.conso_chambre_parents_hourly',      name:\"Conso Chambre Parents Hourly\" }\n};\n\n// Baselines (kWh) “théoriques” (EOD J-2, via rebase J-2)\nconst baseAll = global.get('base_kwh') || {};\n\n// Réponse Intuis\nconst rooms = msg.payload?.body?.home?.rooms || [];\nif (!rooms.length) { node.warn('Pas de rooms dans la réponse Intuis'); return null; }\n\nconst outMsgs = [];\nconst STORE = 'file';\nfunction cget(k){ try { return context.get(k, STORE); } catch(e) { return context.get(k); } }\nfunction cset(k,v){ try { context.set(k,v,STORE); } catch(e) { context.set(k,v); } }\n\n// util: jour/heure locales\nconst tz = global.get('tz') || \"Europe/Paris\";\nfunction localParts(ms) {\n  const d = new Date(ms);\n  const dayKey = new Intl.DateTimeFormat('en-CA', {timeZone: tz, year:'numeric', month:'2-digit', day:'2-digit'}).format(d); // YYYY-MM-DD\n  const hour   = Number(new Intl.DateTimeFormat('fr-FR', {timeZone: tz, hour:'2-digit', hour12:false}).format(d)); // 0..23\n  return { dayKey, hour };\n}\n\nconst HOUR_MS = 3600 * 1000;\n\nfor (const r of rooms){\n  const meta = MAP[r.id]; if (!meta) continue;\n  const statId = meta.id;\n\n  const m = r?.measures?.[0];\n  const vals = Array.isArray(m?.value) ? m.value : [];\n  if (!vals.length) continue;\n\n  const stepSec  = Number(m?.step_time) || 3600;           // secondes\n  const edge0Sec = Number(m?.beg_time) - stepSec/2;        // début du 1er créneau (s, UTC)\n\n  // Ancre incrémentale persistée: pour continuité entre runs (ex: 23:00 -> 00:00)\n  const prevSumKey   = `import_prev_sum_${statId}`;\n  const prevStartKey = `import_prev_start_${statId}`;\n  let prevSum   = Number(cget(prevSumKey));\n  let prevStart = Number(cget(prevStartKey));\n\n  // Base théorique (EOD J-2) si aucune ancre disponible\n  const baseTheo = Number(baseAll[statId]);\n\n  // Cumul depuis minuit (local) pour la journée courante (reset au changement de dayKey)\n  let runKwhFromMidnight = 0;\n  let lastDayKey = null;\n\n  // Base de journée explicitement utilisée (pour idempotence si reimport de mêmes heures)\n  const dayBaseCache = {}; // dayKey -> base kWh (ancre 00:00 de ce jour)\n\n  const stats = [];\n  for (let i = 0; i < vals.length; i++) {\n    const v = Array.isArray(vals[i]) ? vals[i][0] : undefined;\n    const n = (typeof v === 'number' && Number.isFinite(v)) ? v\n          : (typeof v === 'string' && v.trim() !== '' && Number.isFinite(+v)) ? +v\n          : NaN;\n    if (!Number.isFinite(n)) continue;\n\n    // --- TOP OF HOUR (HA exige mm:ss = 00:00) ---\n    const startSecRaw = edge0Sec + i * stepSec;                 // secondes UTC\n    const startMsSnap = Math.floor((startSecRaw * 1000) / HOUR_MS) * HOUR_MS;\n    const d = new Date(startMsSnap);\n    d.setUTCMinutes(0, 0, 0);                                   // 00:00.000\n    const startMs  = d.getTime();\n    const startISO = d.toISOString();\n\n    // Gestion du jour local\n    const { dayKey, hour } = localParts(startMs);\n    if (lastDayKey === null || dayKey !== lastDayKey) {\n      runKwhFromMidnight = 0;\n      lastDayKey = dayKey;\n    }\n    if (!(dayKey in dayBaseCache)) {\n      // Si on connaît l’ancre (ex: 23:00 d’hier), on s’en sert pour today 00:00\n      if (hour === 0 && Number.isFinite(prevSum) && Number.isFinite(prevStart) && (startMs - prevStart === HOUR_MS)) {\n        dayBaseCache[dayKey] = prevSum;\n      } else {\n        // Sinon: fallback sur baseTheo (EOD J-2) ou prevSum (continuité), ou 0\n        dayBaseCache[dayKey] = Number.isFinite(baseTheo) ? baseTheo\n                             : Number.isFinite(prevSum)  ? prevSum\n                             : 0;\n      }\n    }\n\n    // Ajout de la conso horaire (Wh -> kWh)\n    runKwhFromMidnight += n / 1000;\n\n    // Calcul sum: priorité à la continuité parfaite d’heure en heure,\n    // sinon base de la journée + cumul depuis 00:00 local\n    let sum;\n    if (Number.isFinite(prevSum) && Number.isFinite(prevStart) && (startMs - prevStart === HOUR_MS)) {\n      sum = Number((prevSum + (n/1000)).toFixed(3));\n    } else {\n      sum = Number((dayBaseCache[dayKey] + runKwhFromMidnight).toFixed(3));\n    }\n\n    // Toujours pousser le point, même si inchangé\n    stats.push({ start: startISO, sum: sum, state: sum });\n\n    // Avance l’ancre incrémentale pour le point suivant\n    prevSum   = sum;\n    prevStart = startMs;\n  }\n\n  if (!stats.length) continue;\n\n  // MàJ des ancres persistées (pour le prochain run)\n  const lastMs = Date.parse(stats[stats.length - 1].start) || 0;\n  if (lastMs) {\n    cset(prevStartKey, lastMs);\n    cset(prevSumKey,   stats[stats.length - 1].sum);\n  }\n\n  const payload = {\n    has_mean: false,\n    has_sum: true,\n    statistic_id: statId,\n    source: \"recorder\",\n    unit_of_measurement: \"kWh\",\n    stats\n  };\n\n  outMsgs.push({\n    payload,\n    _preview: { sensor: statId, count: stats.length, first: stats[0].start, last: stats[stats.length-1].start }\n  });\n}\n\nif (!outMsgs.length){\n  node.status({fill:\"green\",shape:\"dot\",text:\"rien à importer\"});\n  return null;\n}\nreturn [ outMsgs ];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 840,
        "wires": [
            [
                "887d10a1c970d06f",
                "222194434594b82b",
                "a3bfae63e6e3a328"
            ]
        ]
    },
    {
        "id": "887d10a1c970d06f",
        "type": "debug",
        "z": "e9fafc919bcb1bb0",
        "g": "1cd063b931506666",
        "name": "Aperçu import (id + nb + bornes)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 760,
        "wires": []
    },
    {
        "id": "222194434594b82b",
        "type": "api-call-service",
        "z": "e9fafc919bcb1bb0",
        "g": "1cd063b931506666",
        "name": "Recorder: Import statistics",
        "server": "553a4a33f70c2e19",
        "version": 7,
        "debugenabled": false,
        "action": "recorder.import_statistics",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "$$.payload",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "recorder",
        "service": "import_statistics",
        "x": 1350,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "28e0c01c67bf8f1a",
        "type": "debug",
        "z": "e9fafc919bcb1bb0",
        "g": "1cd063b931506666",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 760,
        "wires": []
    },
    {
        "id": "25f60b7c9b4908c7",
        "type": "cronplus",
        "z": "e9fafc919bcb1bb0",
        "g": "1cd063b931506666",
        "name": "Toutes les 2h à :01 (cron+)",
        "outputField": "payload",
        "timeZone": "Europe/Zurich",
        "storeName": "",
        "commandResponseMsgOutput": "output1",
        "defaultLocation": "",
        "defaultLocationType": "default",
        "outputs": 1,
        "options": [
            {
                "name": "every2h_01",
                "topic": "cron/hourly2",
                "payloadType": "default",
                "payload": "",
                "expressionType": "cron",
                "expression": "30 */2 * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 180,
        "y": 840,
        "wires": [
            [
                "2d704099afdb7720"
            ]
        ]
    },
    {
        "id": "0820bfa7549022f4",
        "type": "inject",
        "z": "e9fafc919bcb1bb0",
        "g": "40bddeefa0656431",
        "name": "Chaque jour 00:01",
        "props": [],
        "repeat": "",
        "crontab": "02 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 960,
        "wires": [
            [
                "e4176ff1f4d664e9"
            ]
        ]
    },
    {
        "id": "69d019898bb13801",
        "type": "function",
        "z": "e9fafc919bcb1bb0",
        "g": "40bddeefa0656431",
        "name": "Guard rebase unique (par jour J-2)",
        "func": "const tz = global.get('tz') || \"Europe/Paris\";\nconst STORE = 'file';\nfunction cget(k){ try{ return context.get(k, STORE);}catch(e){return context.get(k);} }\nfunction cset(k,v){ try{ context.set(k, v, STORE);}catch(e){ context.set(k,v);} }\n\n// now en local TZ\nconst nowLocal = new Date(new Date().toLocaleString('en-US',{timeZone: tz}));\nconst todayMid = new Date(nowLocal); todayMid.setHours(0,0,0,0);\nconst dMinus2Mid = new Date(todayMid); dMinus2Mid.setDate(dMinus2Mid.getDate()-2);\n\nconst dayStr = new Intl.DateTimeFormat(\"en-CA\", { timeZone: tz, year: \"numeric\", month: \"2-digit\", day: \"2-digit\" }).format(dMinus2Mid);\nconst doneKey = `rebase_j2_done_${dayStr}`;\n\nif (!msg.force && cget(doneKey)){\n  node.status({fill:\"green\", shape:\"ring\", text:`Rebase J-2 déjà fait (${dayStr})`});\n  return null;\n}\nmsg._rebase_done_key = doneKey;\nmsg._rebase_day = dayStr;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1060,
        "wires": [
            [
                "e5e490820ebad235"
            ]
        ]
    },
    {
        "id": "ecccbe1b2a1afe90",
        "type": "http request",
        "z": "e9fafc919bcb1bb0",
        "g": "40bddeefa0656431",
        "name": "Intuis gethomemeasure (1day)",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://app.muller-intuitiv.net/api/gethomemeasure",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Authorization",
                "keyValue": "",
                "valueType": "msg",
                "valueValue": "token"
            },
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 730,
        "y": 1040,
        "wires": [
            [
                "428678185e64f81d"
            ]
        ],
        "info": "\"sensor.conso_entree_hourly\":33.543,\r\n\"sensor.conso_chambre_d_amis_hourly\":6.308,\r\n\"sensor.conso_salle_de_bain_filles_hourly\":0.697,\r\n\"sensor.conso_chambre_filles_hourly\":9.566,\r\n\"sensor.conso_couloir_hourly\":11.585,\r\n\"sensor.conso_toilettes_visiteurs_hourly\":5.229,\r\n\"sensor.conso_salon_hourly\":10.562,\r\n\"sensor.conso_salle_a_manger_hourly\":11.094,\r\n\"sensor.conso_salle_de_bain_parents_hourly\":13.042,\r\n\"sensor.conso_cuisine_hourly\":28.694,\r\n\"sensor.conso_chambre_parents_hourly\":3.825\r\n"
    },
    {
        "id": "428678185e64f81d",
        "type": "function",
        "z": "e9fafc919bcb1bb0",
        "g": "40bddeefa0656431",
        "name": "Rebase base_kwh avec conso J-2 (avec commit unique)",
        "func": "// Met à jour base_kwh := base_kwh + conso(J-2)\n// et ne marque la journée comme \"faite\" qu'en cas de succès.\nconst doneKey = msg._rebase_done_key;\nconst rebaseDay = msg._rebase_day;\nconst STORE = 'file';\nfunction cset(k,v){ try{ context.set(k, v, STORE);}catch(e){ context.set(k,v);} }\n\nif (msg.statusCode && msg.statusCode !== 200){\n  node.error(`HTTP ${msg.statusCode} sur gethomemeasure (rebase)`);\n  return null;\n}\n\nconst MAP = {\n  '3165697331':'sensor.conso_entree_hourly',\n  '3330257038':'sensor.conso_chambre_d_amis_hourly',\n  '2979072780':'sensor.conso_salle_de_bain_filles_hourly',\n  '3957213003':'sensor.conso_chambre_filles_hourly',\n  '3807033309':'sensor.conso_couloir_hourly',\n  '3864339241':'sensor.conso_toilettes_visiteurs_hourly',\n  '2064991252':'sensor.conso_salon_hourly',\n  '3761003540':'sensor.conso_salle_a_manger_hourly',\n  '3357075329':'sensor.conso_salle_de_bain_parents_hourly',\n  '1668330398':'sensor.conso_cuisine_hourly',\n  '1707740468':'sensor.conso_chambre_parents_hourly'\n};\n\nconst rooms = msg.payload?.body?.home?.rooms || [];\nif (!rooms.length) { node.warn(\"Rebase: pas de rooms dans la réponse Intuis\"); return null; }\n\nconst base = Object.assign({}, global.get('base_kwh') || {});\nfor (const r of rooms) {\n  const sensor = MAP[r.id]; if (!sensor) continue;\n  const m = r?.measures?.[0];\n  const wh = (m && Array.isArray(m.value) && m.value[0] && isFinite(+m.value[0][0])) ? (+m.value[0][0]) : 0;\n  const addKwh = wh / 1000;\n  const cur = Number(base[sensor]) || 0;\n  base[sensor] = Number((cur + addKwh).toFixed(3));  // devient EOD J-2\n}\n\nglobal.set('base_kwh', base);\nif (doneKey) cset(doneKey, true);\n\nmsg.payload = { rebased: true, day: rebaseDay, base_kwh: base };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 960,
        "wires": [
            [
                "a70f6a2cedc558d6"
            ]
        ]
    },
    {
        "id": "a70f6a2cedc558d6",
        "type": "debug",
        "z": "e9fafc919bcb1bb0",
        "g": "40bddeefa0656431",
        "name": "Rebase J-2 → base_kwh (aperçu)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1260,
        "y": 1040,
        "wires": []
    },
    {
        "id": "4bbff6f268941713",
        "type": "inject",
        "z": "e9fafc919bcb1bb0",
        "d": true,
        "g": "55eac72b576d889c",
        "name": "Importer HIER (manuel)",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 1280,
        "wires": [
            [
                "7af8f556aac0a82d"
            ]
        ]
    },
    {
        "id": "7af8f556aac0a82d",
        "type": "function",
        "z": "e9fafc919bcb1bb0",
        "d": true,
        "g": "55eac72b576d889c",
        "name": "Set Authorization header",
        "func": "// Récupère le token Intuis depuis global et prépare msg.token (Bearer ...)\nconst t = global.get('AccessToken') || global.get('token');\nif (!t) {\n  node.error('Token Intuis introuvable dans global.intuis_token / global.token');\n  return null;\n}\nmsg.token = t.startsWith('Bearer ') ? t : `Bearer ${t}`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1280,
        "wires": [
            [
                "cb27cc16c7c43afc"
            ]
        ]
    },
    {
        "id": "cb27cc16c7c43afc",
        "type": "function",
        "z": "e9fafc919bcb1bb0",
        "d": true,
        "g": "55eac72b576d889c",
        "name": "Fenêtre J-1 00:00 → 23:59:59 (local)",
        "func": "// Fenêtre J-1 : [hier 00:00 local, aujourd'hui 00:00 local)\n// => en UTC ça donnera p.ex. 03/10 22:00 → 04/10 22:00 si offset = +02:00\n\nconst d0 = new Date();        // maintenant (local)\nd0.setHours(0, 0, 0, 0);      // aujourd'hui 00:00 local\n\nconst end = new Date(d0);     // borne haute exclusive = aujourd'hui 00:00 local\nconst begin = new Date(d0);   // borne basse inclusive = hier 00:00 local\nbegin.setDate(begin.getDate() - 1);\n\nmsg.date_begin = Math.floor(begin.getTime() / 1000); // epoch sec (UTC)\nmsg.date_end = Math.floor(end.getTime() / 1000); // epoch sec (UTC)\n\n// (Optionnel) Aperçu pour vérifier\nnode.status({\n    fill: \"blue\",\n    shape: \"dot\",\n    text: `UTC ${new Date(msg.date_begin * 1000).toISOString()} → ${new Date(msg.date_end * 1000).toISOString()}`\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 1280,
        "wires": [
            [
                "1f2860ad572e43c5"
            ]
        ]
    },
    {
        "id": "1f2860ad572e43c5",
        "type": "function",
        "z": "e9fafc919bcb1bb0",
        "d": true,
        "g": "55eac72b576d889c",
        "name": "Build payload Intuis (J-1, 1h)",
        "func": "// Build payload: jour courant 00:00 -> maintenant, échelle 1h\nconst home_id = $globalContext('home_id') || $globalContext('home_id'); // ton home_id\nconst router_id = $globalContext('routeur_id'); // ton bridge\n\nconst room_ids = [\n  $globalContext('room0_id'), // Entrée\n  $globalContext('room1_id'), // Chambre D’amis\n  $globalContext('room2_id'), // Salle De Bain Filles\n  $globalContext('room3_id'), // Chambre Filles\n  $globalContext('room4_id'), // Couloir\n  $globalContext('room5_id'), // Toilettes Visiteurs\n  $globalContext('room6_id'), // Salon\n  $globalContext('room7_id'), // Salle à manger\n  $globalContext('room8_id'), // Salle De Bain Parents\n  $globalContext('room9_id'), // Cuisine\n  $globalContext('room10_id')  // Chambre Parents\n];\n\nconst rooms = room_ids.map(id => ({ id, bridge: router_id, type: \"sum_energy_elec$0\" }));\n\nconst now = new Date();\nconst begin = new Date(now);\nbegin.setHours(0, 0, 0, 0); // 00:00 local\n\n// >>>>>>>>>>>> AUTH depuis global.AccessToken\nlet tok = global.get('AccessToken');\nif (!tok || typeof tok !== 'string' || !tok.trim()) {\n  node.error(\"Token Intuis introuvable (global.AccessToken)\", msg);\n  return null;\n}\ntok = /^Bearer\\s/i.test(tok) ? tok : (\"Bearer \" + tok);\nmsg.token = tok;\n// <<<<<<<<<<<<<<<\n\nmsg.payload = {\n  date_begin: msg.date_begin,\n  date_end:   msg.date_end,\n  scale: \"1hour\",\n  app_identifier: \"app_muller\",\n  home: { id: home_id, rooms }\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 1280,
        "wires": [
            [
                "beccb7f9fcad1b6b"
            ]
        ]
    },
    {
        "id": "beccb7f9fcad1b6b",
        "type": "http request",
        "z": "e9fafc919bcb1bb0",
        "d": true,
        "g": "55eac72b576d889c",
        "name": "Intuis gethomemeasure (J-1, 1h)",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://app.muller-intuitiv.net/api/gethomemeasure",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Authorization",
                "keyValue": "",
                "valueType": "msg",
                "valueValue": "token"
            },
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1490,
        "y": 1280,
        "wires": [
            [
                "b334d5e806aed874",
                "c1151738ca0c8042"
            ]
        ]
    },
    {
        "id": "b334d5e806aed874",
        "type": "function",
        "z": "e9fafc919bcb1bb0",
        "d": true,
        "g": "55eac72b576d889c",
        "name": "Build payload import (hier, hourly, sum cumulée)",
        "func": "// Construit msg.payload pour recorder.import_statistics (un msg par capteur)\n// Base = global.base_kwh[statistic_id] (somme fin d'avant-hier)\n\nconst MAP = {\n  '3165697331':'sensor.conso_entree_hourly',\n  '3330257038':'sensor.conso_chambre_d_amis_hourly',\n  '2979072780':'sensor.conso_salle_de_bain_filles_hourly',\n  '3957213003':'sensor.conso_chambre_filles_hourly',\n  '1707740468':'sensor.conso_chambre_parents_hourly',\n  '3807033309':'sensor.conso_couloir_hourly',\n  '1668330398':'sensor.conso_cuisine_hourly',\n  '3761003540':'sensor.conso_salle_a_manger_hourly',\n  '3357075329':'sensor.conso_salle_de_bain_parents_hourly',\n  '2064991252':'sensor.conso_salon_hourly',\n  '3864339241':'sensor.conso_toilettes_visiteurs_hourly'\n};\n\nconst base = global.get('base_kwh') || {};\nconst rooms = msg.payload?.body?.home?.rooms || [];\nif (!rooms.length) { node.warn('Aucune room Intuis'); return [null, {payload:'Aucun capteur'}]; }\n\nconst outMsgs = [];\nconst previews = [];\nfor (const r of rooms){\n  const statId = MAP[r.id];\n  if (!statId) continue;\n  const m = r?.measures?.[0];\n  const values = m?.value || [];\n  if (!values.length) continue;\n\n  const step = m.step_time || 3600;\n  const edge0 = (m.beg_time - (m.step_time||3600)/2);  // epoch sec H:00 UTC-like\n\n  let cum = Number(base[statId]) || 0;  // kWh\n  const stats = [];\n  for (let i=0;i<values.length;i++){\n    let wh = values[i] && Number(values[i][0]);\n    if (!Number.isFinite(wh)) wh = 0;\n    cum += wh/1000;\n    const startIso = new Date((edge0 + i*step)*1000).toISOString();\n    const v = Number(cum.toFixed(3));\n    stats.push({ start: startIso, sum: v, state: v });\n  }\n\n  outMsgs.push({\n    payload: {\n      has_mean: false,\n      has_sum: true,\n      source: \"recorder\",\n      unit_of_measurement: \"kWh\",\n      statistic_id: statId,\n      stats\n    }\n  });\n\n  if (stats.length){\n    previews.push({\n      sensor: statId,\n      count: stats.length,\n      first: stats[0].start,\n      last: stats[stats.length-1].start\n    });\n  }\n}\n\nreturn [outMsgs, { payload: previews }];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 1360,
        "wires": [
            [
                "a74c44a9d300b9e4"
            ],
            [
                "1b30ae933cf1de32"
            ]
        ]
    },
    {
        "id": "a74c44a9d300b9e4",
        "type": "api-call-service",
        "z": "e9fafc919bcb1bb0",
        "d": true,
        "g": "55eac72b576d889c",
        "name": "HA → recorder.import_statistics",
        "server": "553a4a33f70c2e19",
        "version": 7,
        "debugenabled": false,
        "action": "recorder.import_statistics",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "$$.payload",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "recorder",
        "service": "import_statistics",
        "x": 710,
        "y": 1360,
        "wires": [
            [
                "ee27abf3194d50c8"
            ]
        ]
    },
    {
        "id": "1b30ae933cf1de32",
        "type": "debug",
        "z": "e9fafc919bcb1bb0",
        "d": true,
        "g": "55eac72b576d889c",
        "name": "Aperçu import (id + nb + bornes)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 690,
        "y": 1420,
        "wires": []
    },
    {
        "id": "c1151738ca0c8042",
        "type": "function",
        "z": "e9fafc919bcb1bb0",
        "d": true,
        "g": "55eac72b576d889c",
        "name": "function 5",
        "func": "// Build payload d’import J-1 SANS toucher à base_kwh\nconst MAP = {\n  '3165697331': { id:'sensor.conso_entree_hourly' },\n  '3330257038': { id:'sensor.conso_chambre_d_amis_hourly' },\n  '2979072780': { id:'sensor.conso_salle_de_bain_filles_hourly' },\n  '3957213003': { id:'sensor.conso_chambre_filles_hourly' },\n  '3807033309': { id:'sensor.conso_couloir_hourly' },\n  '3864339241': { id:'sensor.conso_toilettes_visiteurs_hourly' },\n  '2064991252': { id:'sensor.conso_salon_hourly' },\n  '3761003540': { id:'sensor.conso_salle_a_manger_hourly' },\n  '3357075329': { id:'sensor.conso_salle_de_bain_parents_hourly' },\n  '1668330398': { id:'sensor.conso_cuisine_hourly' },\n  '1707740468': { id:'sensor.conso_chambre_parents_hourly' }\n};\n\nconst baseAll = global.get('base_kwh') || {}; // DOIT contenir la somme \"avant-hier soir\"\nconst rooms = msg.payload?.body?.home?.rooms || [];\nif (!rooms.length) { node.warn('Pas de rooms'); return null; }\n\nconst outMsgs = [];\nconst totalsYday = {}; // total J-1 par sensor (kWh) pour le commit après import\n\nfor (const r of rooms){\n  const meta = MAP[r.id]; if (!meta) continue;\n  const statId = meta.id;\n  const base = Number(baseAll[statId]) || 0; // somme d'AVANT-HIER soir (baseline pour importer J-1)\n\n  const m = r?.measures?.[0];\n  const vals = Array.isArray(m?.value) ? m.value : [];\n  if (!vals.length) continue;\n\n  const step = m.step_time || 3600;\n  const edge0 = (m.beg_time - step/2) * 1000; // début du 1er créneau (ms)\n\n  let runKwh = 0;\n  const stats = [];\n  for (let i=0;i<vals.length;i++){\n    const v = Array.isArray(vals[i]) ? vals[i][0] : undefined;\n    const n = (typeof v === 'number' && Number.isFinite(v)) ? v\n            : (typeof v === 'string' && v.trim()!=='' && Number.isFinite(+v)) ? +v\n            : NaN;\n    if (!Number.isFinite(n)) continue;\n\n    runKwh += n/1000; // cumul J-1\n    const startISO = new Date(edge0 + i*step*1000).toISOString();\n    const sum = Number((base + runKwh).toFixed(3));\n\n    // IMPORTANT: envoyer sum + state\n    stats.push({ start: startISO, sum: sum, state: sum });\n  }\n\n  if (!stats.length) continue;\n\n  // total J-1 pour ce sensor (servira à \"avancer\" la baseline après import réussi)\n  totalsYday[statId] = Number((runKwh).toFixed(3));\n\n  outMsgs.push({\n    payload: {\n      has_mean: false,\n      has_sum: true,\n      statistic_id: statId,\n      source: \"recorder\",\n      unit_of_measurement: \"kWh\",\n      stats\n    },\n    _preview: { sensor: statId, count: stats.length, first: stats[0].start, last: stats[stats.length-1].start }\n  });\n}\n\n// stocke les totaux J-1 pour le commit (au niveau flow)\nflow.set('pending_commit_yday', totalsYday);\n\nif (!outMsgs.length){ node.status({fill:\"green\",shape:\"dot\",text:\"rien à importer\"}); return null; }\nreturn [ outMsgs ];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "ee27abf3194d50c8",
        "type": "function",
        "z": "e9fafc919bcb1bb0",
        "d": true,
        "g": "55eac72b576d889c",
        "name": "function 6",
        "func": "// Commit baseline -> passe de \"avant-hier soir\" à \"hier soir\"\nconst res = msg.payload;\nif (res && res.error) {\n  node.warn(\"Import HA a renvoyé une erreur -> pas de commit baseline\");\n  return null;\n}\n\nconst totals = flow.get('pending_commit_yday') || {};\nconst base = { ...(global.get('base_kwh') || {}) };\n\nfor (const [sensor, inc] of Object.entries(totals)) {\n  const b = Number(base[sensor]) || 0;\n  base[sensor] = Number((b + (Number(inc)||0)).toFixed(3));\n}\n\nglobal.set('base_kwh', base);\nflow.set('pending_commit_yday', null);\n\nmsg.payload = { committed: totals, new_base_kwh: base };\nnode.status({fill:\"green\", shape:\"dot\", text:`baseline avancée (${Object.keys(totals).length} capteurs)`});\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "a3bfae63e6e3a328",
        "type": "function",
        "z": "e9fafc919bcb1bb0",
        "g": "e0f310ef645539ec",
        "name": "Dernier sum → msg.topic + msg.payload (state)",
        "func": "const items = Array.isArray(msg.payload) ? msg.payload : [msg.payload];\nconst out = [];\nfor (const it of items) {\n  if (!it || !it.statistic_id || !Array.isArray(it.stats) || !it.stats.length) continue;\n  const last = it.stats[it.stats.length - 1];\n  const val  = Number(last && last.sum);\n  if (!Number.isFinite(val)) continue;\n  out.push({ topic: it.statistic_id, payload: val });\n}\nif (!out.length) return null;\nreturn [ out ];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2240,
        "y": 820,
        "wires": [
            [
                "51c63c957e5b6382"
            ]
        ]
    },
    {
        "id": "51c63c957e5b6382",
        "type": "switch",
        "z": "e9fafc919bcb1bb0",
        "g": "e0f310ef645539ec",
        "name": "Route par statistic_id",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "sensor.conso_entree_hourly",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sensor.conso_chambre_d_amis_hourly",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sensor.conso_salle_de_bain_filles_hourly",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sensor.conso_chambre_filles_hourly",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sensor.conso_couloir_hourly",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sensor.conso_toilettes_visiteurs_hourly",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sensor.conso_salon_hourly",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sensor.conso_salle_a_manger_hourly",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sensor.conso_salle_de_bain_parents_hourly",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sensor.conso_cuisine_hourly",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sensor.conso_chambre_parents_hourly",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 11,
        "x": 2550,
        "y": 820,
        "wires": [
            [
                "d056028a766cc903"
            ],
            [
                "bccac2dad26af4b3"
            ],
            [
                "9089c50caeda28e0"
            ],
            [
                "0bde458557485ee7"
            ],
            [
                "f770f934e3b2947a"
            ],
            [
                "7c53f51b7e72b35e"
            ],
            [
                "6020d2b5c5a7f91c"
            ],
            [
                "8a750d7ac05a60a3"
            ],
            [
                "bbeb5e685d16d7f2"
            ],
            [
                "204f710424894214"
            ],
            [
                "574667cf5ab773a7"
            ]
        ]
    },
    {
        "id": "d056028a766cc903",
        "type": "ha-sensor",
        "z": "e9fafc919bcb1bb0",
        "g": "e0f310ef645539ec",
        "name": "Conso Entrée Hourly (state)",
        "entityConfig": "cfg0001aaaaaaa1a",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2900,
        "y": 680,
        "wires": [
            [
                "10a1ca1857c7f5b2"
            ]
        ]
    },
    {
        "id": "bccac2dad26af4b3",
        "type": "ha-sensor",
        "z": "e9fafc919bcb1bb0",
        "g": "e0f310ef645539ec",
        "name": "Conso Chambre d'amis Hourly (state)",
        "entityConfig": "cfg0002bbbbbbb2b",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2930,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "9089c50caeda28e0",
        "type": "ha-sensor",
        "z": "e9fafc919bcb1bb0",
        "g": "e0f310ef645539ec",
        "name": "Conso SDB Filles Hourly (state)",
        "entityConfig": "cfg0003ccccccc3c",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2910,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "0bde458557485ee7",
        "type": "ha-sensor",
        "z": "e9fafc919bcb1bb0",
        "g": "e0f310ef645539ec",
        "name": "Conso Chambre Filles Hourly (state)",
        "entityConfig": "cfg0004ddddddd4d",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2930,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "f770f934e3b2947a",
        "type": "ha-sensor",
        "z": "e9fafc919bcb1bb0",
        "g": "e0f310ef645539ec",
        "name": "Conso Couloir Hourly (state)",
        "entityConfig": "cfg0005eeeeeee5e",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2900,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "7c53f51b7e72b35e",
        "type": "ha-sensor",
        "z": "e9fafc919bcb1bb0",
        "g": "e0f310ef645539ec",
        "name": "Conso WC Visiteurs Hourly (state)",
        "entityConfig": "cfg0006ffffff6f6",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2920,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "6020d2b5c5a7f91c",
        "type": "ha-sensor",
        "z": "e9fafc919bcb1bb0",
        "g": "e0f310ef645539ec",
        "name": "Conso Salon Hourly (state)",
        "entityConfig": "cfg0007aaa1117a1",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2900,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "8a750d7ac05a60a3",
        "type": "ha-sensor",
        "z": "e9fafc919bcb1bb0",
        "g": "e0f310ef645539ec",
        "name": "Conso Salle à manger Hourly (state)",
        "entityConfig": "cfg0008bbb2228b2",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2930,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "bbeb5e685d16d7f2",
        "type": "ha-sensor",
        "z": "e9fafc919bcb1bb0",
        "g": "e0f310ef645539ec",
        "name": "Conso SDB Parents Hourly (state)",
        "entityConfig": "cfg0009ccc3339c3",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2920,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "204f710424894214",
        "type": "ha-sensor",
        "z": "e9fafc919bcb1bb0",
        "g": "e0f310ef645539ec",
        "name": "Conso Cuisine Hourly (state)",
        "entityConfig": "cfg000addd444ad4",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2900,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "574667cf5ab773a7",
        "type": "ha-sensor",
        "z": "e9fafc919bcb1bb0",
        "g": "e0f310ef645539ec",
        "name": "Conso Chambre Parents Hourly (state)",
        "entityConfig": "cfg000beee555be5",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2930,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "58e4942428fac3f3",
        "type": "change",
        "z": "e9fafc919bcb1bb0",
        "name": "TZ = Europe/Paris",
        "rules": [
            {
                "t": "set",
                "p": "tz",
                "pt": "global",
                "to": "Europe/Paris",
                "tot": "str"
            }
        ],
        "x": 150,
        "y": 660,
        "wires": [
            [
                "2d704099afdb7720",
                "69d019898bb13801"
            ]
        ]
    },
    {
        "id": "e5e490820ebad235",
        "type": "function",
        "z": "e9fafc919bcb1bb0",
        "g": "40bddeefa0656431",
        "name": "Build gethomemeasure (J-3 → J-2) 1day (TZ local)",
        "func": "// J-2 00:00 → J-1 00:00 (jour complet J-2), scale 1day\nconst home_id =global.get('home_id');\nconst bridge  =global.get('routeur_id');\nconst token   = global.get('AccessToken') || global.get('intuis_token') || global.get('token');\nif (!token) { node.error(\"AccessToken/Token Intuis introuvable\"); return null; }\nmsg.token = token.startsWith('Bearer ') ? token : `Bearer ${token}`;\n\nconst room_ids = [\n global.get('room0_id'),global.get('room1_id'),global.get('room2_id'),global.get('room3_id'),global.get('room4_id'),\n global.get('room5_id'),global.get('room6_id'),global.get('room7_id'),global.get('room8_id'),global.get('room9_id'),global.get('room10_id')\n];\n\n// === bornes locales Europe/Paris ===\nconst tz = \"Europe/Paris\";\nconst nowLocal   = new Date(new Date().toLocaleString('en-US', { timeZone: tz }));\nconst todayMid   = new Date(nowLocal); todayMid.setHours(0,0,0,0);        // J 00:00 local\nconst j1MidLocal = new Date(todayMid); j1MidLocal.setDate(j1MidLocal.getDate()-1); // J-1 00:00\nconst j2MidLocal = new Date(todayMid); j2MidLocal.setDate(j2MidLocal.getDate()-2); // J-2 00:00\n\nmsg.payload = {\n  date_begin: Math.floor(j2MidLocal.getTime()/1000),\n  date_end:   Math.floor(j1MidLocal.getTime()/1000),\n  scale: \"1day\",\n  app_identifier: \"app_muller\",\n  home: { id: home_id, rooms: room_ids.map(id => ({ id, bridge, type: \"sum_energy_elec$0\" })) }\n};\n\n// debug lisible\nmsg._window_debug = {\n  tz,\n  j2_local: j2MidLocal.toLocaleString('fr-FR', { timeZone: tz }),\n  j1_local: j1MidLocal.toLocaleString('fr-FR', { timeZone: tz }),\n  j2_iso: j2MidLocal.toISOString(),\n  j1_iso: j1MidLocal.toISOString()\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 940,
        "wires": [
            [
                "ecccbe1b2a1afe90"
            ]
        ]
    },
    {
        "id": "7d06561d83d9ae30",
        "type": "inject",
        "z": "e9fafc919bcb1bb0",
        "g": "76bcd7558fa413aa",
        "name": "Lancer maintenant",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 600,
        "wires": [
            [
                "7bfdf6abc3c6f4a4"
            ]
        ]
    },
    {
        "id": "7bfdf6abc3c6f4a4",
        "type": "function",
        "z": "e9fafc919bcb1bb0",
        "g": "76bcd7558fa413aa",
        "name": "Build gethomemeasure (16/08 → 06/10 inclus)",
        "func": "// Fenêtre fixe: 16 août 2025 00:00 → 7 oct 2025 00:00 (inclut le 6/10 complet)\n// Utilise l'échelle 1day pour obtenir 1 valeur Wh/jour/room puis on cumulera côté Node-RED.\n\nconst home_id = global.get('home_id');\nconst bridge  = global.get('routeur_id');\nconst room_ids = [\n  global.get('room0_id'),global.get('room1_id'),global.get('room2_id'),global.get('room3_id'),global.get('room4_id'),\n  global.get('room5_id'),global.get('room6_id'),global.get('room7_id'),global.get('room8_id'),global.get('room9_id'),global.get('room10_id')\n];\n\n// --- TOKEN ---\nconst rawToken = global.get('AccessToken') || global.get('intuis_token') || global.get('token');\nif (!rawToken) { node.error(\"Token Intuis introuvable dans global.AccessToken / global.intuis_token / global.token\"); return null; }\nmsg.token = rawToken.startsWith('Bearer ') ? rawToken : `Bearer ${rawToken}`;\n// -------------\n\n// Le conteneur est en Europe/Paris → on peut créer des Date locales:\n// JS: mois 0-indexé (août = 7, octobre = 9)\nconst startLocal = new Date(2025, 7, 16, 0, 0, 0, 0); // 16/08/2025 00:00 local\nconst endLocal   = new Date(2025, 9, 7,  0, 0, 0, 0); // 07/10/2025 00:00 local (exclu) ⇒ inclut 06/10 entier\n\nmsg.payload = {\n  date_begin: Math.floor(startLocal.getTime()/1000),\n  date_end:   Math.floor(endLocal.getTime()/1000),\n  scale: \"1day\",\n  app_identifier: \"app_muller\",\n  home: { id: home_id, rooms: room_ids.map(id => ({ id, bridge, type: \"sum_energy_elec$0\" })) }\n};\n\n// Pour info dans la suite\nmsg._period = { from: \"2025-08-16\", to: \"2025-10-06\" };\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 600,
        "wires": [
            [
                "2c7d7e6bd284cb92",
                "a5eeb1e998b414c3"
            ]
        ]
    },
    {
        "id": "2c7d7e6bd284cb92",
        "type": "http request",
        "z": "e9fafc919bcb1bb0",
        "g": "76bcd7558fa413aa",
        "name": "Intuis gethomemeasure (1day, range)",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://app.muller-intuitiv.net/api/gethomemeasure",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Authorization",
                "keyValue": "",
                "valueType": "msg",
                "valueValue": "token"
            },
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 870,
        "y": 600,
        "wires": [
            [
                "e175a6bd52325a35"
            ]
        ]
    },
    {
        "id": "e175a6bd52325a35",
        "type": "function",
        "z": "e9fafc919bcb1bb0",
        "g": "76bcd7558fa413aa",
        "name": "Somme kWh par radiateur (format rebase_kwh)",
        "func": "// Agrège toutes les valeurs 1day (Wh) par room → kWh par sensor.\n// Sortie en debug: { base_kwh: { sensor_id: kWh, ... }, from, to }\n\nconst MAP = {\n  '3165697331':'sensor.conso_entree_hourly',\n  '3330257038':'sensor.conso_chambre_d_amis_hourly',\n  '2979072780':'sensor.conso_salle_de_bain_filles_hourly',\n  '3957213003':'sensor.conso_chambre_filles_hourly',\n  '3807033309':'sensor.conso_couloir_hourly',\n  '3864339241':'sensor.conso_toilettes_visiteurs_hourly',\n  '2064991252':'sensor.conso_salon_hourly',\n  '3761003540':'sensor.conso_salle_a_manger_hourly',\n  '3357075329':'sensor.conso_salle_de_bain_parents_hourly',\n  '1668330398':'sensor.conso_cuisine_hourly',\n  '1707740468':'sensor.conso_chambre_parents_hourly'\n};\n\nif (msg.statusCode && msg.statusCode !== 200){\n  node.error(`HTTP ${msg.statusCode} sur gethomemeasure (1day, range)`);\n  return null;\n}\n\nconst rooms = msg.payload?.body?.home?.rooms || [];\nif (!rooms.length) { node.warn('Pas de rooms dans la réponse Intuis'); return null; }\n\nconst totals = {}; // sensor_id -> kWh\nfor (const r of rooms){\n  const sensor = MAP[r.id];\n  if (!sensor) continue;\n  let wh = 0;\n  const measures = Array.isArray(r.measures) ? r.measures : [];\n  for (const m of measures){\n    const arr = Array.isArray(m.value) ? m.value : [];\n    for (const row of arr){\n      const v = Array.isArray(row) ? row[0] : row;\n      const num = (typeof v === 'number' && Number.isFinite(v)) ? v\n                : (typeof v === 'string' && v.trim()!=='' && Number.isFinite(+v)) ? +v\n                : NaN;\n      if (Number.isFinite(num)) wh += num; // Wh\n    }\n  }\n  totals[sensor] = Number((wh/1000).toFixed(3)); // kWh\n}\n\nmsg.payload = {\n  from: msg._period?.from || null,\n  to:   msg._period?.to   || null,\n  base_kwh: totals\n};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 500,
        "wires": [
            [
                "0f6f05ef24faae01",
                "e1f0bcc5f0064327"
            ]
        ]
    },
    {
        "id": "0f6f05ef24faae01",
        "type": "debug",
        "z": "e9fafc919bcb1bb0",
        "g": "76bcd7558fa413aa",
        "name": "Bilan période (format rebase_kwh)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1540,
        "y": 500,
        "wires": []
    },
    {
        "id": "e1f0bcc5f0064327",
        "type": "function",
        "z": "e9fafc919bcb1bb0",
        "d": true,
        "g": "76bcd7558fa413aa",
        "name": "Rebase base_kwh (MODE SET)",
        "func": "const totals = msg?.payload?.base_kwh;\nif (!totals || typeof totals !== 'object') {\n  node.warn('Rebase SET: payload.base_kwh manquant');\n  return null;\n}\n\nconst r3 = (x) => Number((Number(x)||0).toFixed(3));\n\n// état actuel\nconst before = Object.assign({}, global.get('base_kwh') || {});\n\n// after = on REMPLACE par les valeurs fournies (SET)\nconst after = {};\nfor (const [sensor, val] of Object.entries(totals)) {\n  after[sensor] = r3(val);\n}\n\n// delta = after - before (pour contrôle)\nconst delta = {};\nconst keys = new Set([...Object.keys(before), ...Object.keys(after)]);\nfor (const k of keys) {\n  delta[k] = r3((Number(after[k])||0) - (Number(before[k])||0));\n}\n\n// commit\nglobal.set('base_kwh', after);\n\nmsg.payload = {\n  rebase_applied: true,\n  mode: 'set',\n  from: msg._period?.from || null,\n  to:   msg._period?.to   || null,\n  before,\n  set_values: after,\n  delta,\n  after\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 560,
        "wires": [
            [
                "c9cad622fe8d90c7"
            ]
        ]
    },
    {
        "id": "c9cad622fe8d90c7",
        "type": "debug",
        "z": "e9fafc919bcb1bb0",
        "g": "76bcd7558fa413aa",
        "name": "Rebase SET → aperçu (before / set_values / delta / after)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1540,
        "y": 620,
        "wires": []
    },
    {
        "id": "e4176ff1f4d664e9",
        "type": "function",
        "z": "e9fafc919bcb1bb0",
        "g": "40bddeefa0656431",
        "name": "Run once today (lock)",
        "func": "const tz = global.get('tz') || \"Europe/Paris\";\nconst STORE = 'file';\nfunction cget(k){ try{ return context.get(k, STORE);}catch(e){return context.get(k);} }\nfunction cset(k,v){ try{ context.set(k, v, STORE);}catch(e){ context.set(k,v);} }\n\n// date du jour (locale)\nconst nowLocal = new Date(new Date().toLocaleString('en-US', { timeZone: tz }));\nconst todayStr = new Intl.DateTimeFormat('en-CA', { timeZone: tz, year:'numeric', month:'2-digit', day:'2-digit' }).format(nowLocal);\nconst lockKey  = `rebase_run_today_${todayStr}`;\n\n// si déjà exécuté aujourd'hui (sauf override)\nif (!msg.force && cget(lockKey)){\n  node.status({ fill:'green', shape:'ring', text:`Déjà exécuté aujourd'hui (${todayStr})` });\n  return null;\n}\n\n// pose le verrou du jour et continue\ncset(lockKey, true);\nmsg._run_today_key = lockKey;\nmsg._run_today_str = todayStr;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 1060,
        "wires": [
            [
                "69d019898bb13801"
            ]
        ]
    },
    {
        "id": "a5eeb1e998b414c3",
        "type": "debug",
        "z": "e9fafc919bcb1bb0",
        "g": "76bcd7558fa413aa",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 500,
        "wires": []
    },
    {
        "id": "10a1ca1857c7f5b2",
        "type": "debug",
        "z": "e9fafc919bcb1bb0",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 3140,
        "y": 680,
        "wires": []
    },
    {
        "id": "553a4a33f70c2e19",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": 30,
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": ": ",
        "statusYear": "numeric",
        "statusMonth": "numeric",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    },
    {
        "id": "cfg0001aaaaaaa1a",
        "type": "ha-entity-config",
        "server": "553a4a33f70c2e19",
        "deviceConfig": "",
        "name": "Conso Entrée Hourly",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Conso Entrée Hourly"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": "energy"
            },
            {
                "property": "unit_of_measurement",
                "value": "kWh"
            },
            {
                "property": "state_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "cfg0002bbbbbbb2b",
        "type": "ha-entity-config",
        "server": "553a4a33f70c2e19",
        "deviceConfig": "",
        "name": "Conso Chambre d'amis Hourly",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Conso Chambre d'amis Hourly"
            },
            {
                "property": "device_class",
                "value": "energy"
            },
            {
                "property": "unit_of_measurement",
                "value": "kWh"
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "cfg0003ccccccc3c",
        "type": "ha-entity-config",
        "server": "553a4a33f70c2e19",
        "deviceConfig": "",
        "name": "Conso Salle de bain filles Hourly",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Conso Salle de bain filles Hourly"
            },
            {
                "property": "device_class",
                "value": "energy"
            },
            {
                "property": "unit_of_measurement",
                "value": "kWh"
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "cfg0004ddddddd4d",
        "type": "ha-entity-config",
        "server": "553a4a33f70c2e19",
        "deviceConfig": "",
        "name": "Conso Chambre Filles Hourly",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Conso Chambre Filles Hourly"
            },
            {
                "property": "device_class",
                "value": "energy"
            },
            {
                "property": "unit_of_measurement",
                "value": "kWh"
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "cfg0005eeeeeee5e",
        "type": "ha-entity-config",
        "server": "553a4a33f70c2e19",
        "deviceConfig": "",
        "name": "Conso Couloir Hourly",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Conso Couloir Hourly"
            },
            {
                "property": "device_class",
                "value": "energy"
            },
            {
                "property": "unit_of_measurement",
                "value": "kWh"
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "cfg0006ffffff6f6",
        "type": "ha-entity-config",
        "server": "553a4a33f70c2e19",
        "deviceConfig": "",
        "name": "Conso WC Visiteurs Hourly",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Conso WC Visiteurs Hourly"
            },
            {
                "property": "device_class",
                "value": "energy"
            },
            {
                "property": "unit_of_measurement",
                "value": "kWh"
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "cfg0007aaa1117a1",
        "type": "ha-entity-config",
        "server": "553a4a33f70c2e19",
        "deviceConfig": "",
        "name": "Conso Salon Hourly",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Conso Salon Hourly"
            },
            {
                "property": "device_class",
                "value": "energy"
            },
            {
                "property": "unit_of_measurement",
                "value": "kWh"
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "cfg0008bbb2228b2",
        "type": "ha-entity-config",
        "server": "553a4a33f70c2e19",
        "deviceConfig": "",
        "name": "Conso Salle à manger Hourly",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Conso Salle à manger Hourly"
            },
            {
                "property": "device_class",
                "value": "energy"
            },
            {
                "property": "unit_of_measurement",
                "value": "kWh"
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "cfg0009ccc3339c3",
        "type": "ha-entity-config",
        "server": "553a4a33f70c2e19",
        "deviceConfig": "",
        "name": "Conso SDB Parents Hourly",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Conso SDB Parents Hourly"
            },
            {
                "property": "device_class",
                "value": "energy"
            },
            {
                "property": "unit_of_measurement",
                "value": "kWh"
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "cfg000addd444ad4",
        "type": "ha-entity-config",
        "server": "553a4a33f70c2e19",
        "deviceConfig": "",
        "name": "Conso Cuisine Hourly",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Conso Cuisine Hourly"
            },
            {
                "property": "device_class",
                "value": "energy"
            },
            {
                "property": "unit_of_measurement",
                "value": "kWh"
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "cfg000beee555be5",
        "type": "ha-entity-config",
        "server": "553a4a33f70c2e19",
        "deviceConfig": "",
        "name": "Conso Chambre Parents Hourly",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Conso Chambre Parents Hourly"
            },
            {
                "property": "device_class",
                "value": "energy"
            },
            {
                "property": "unit_of_measurement",
                "value": "kWh"
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "7055981381e83570",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-home-assistant-websocket": "0.78.2",
            "node-red-contrib-cron-plus": "2.2.4"
        }
    }
]
