flows_recup_histo.json
[
    {
        "id": "de81f903528426df",
        "type": "tab",
        "label": "Pour Import Stats",
        "disabled": false,
        "locked": true,
        "info": "",
        "env": []
    },
    {
        "id": "grp_daily90_all",
        "type": "group",
        "z": "de81f903528426df",
        "name": "Import-HA — Fichier unique DAILY (90 j, finit J-5) + base offset",
        "style": {
            "label": true
        },
        "nodes": [
            "inj_d90_now",
            "fn_d90_window",
            "http_d90_homedata",
            "fn_d90_build",
            "http_d90_gmh",
            "fn_d90_make_all",
            "file_d90_all",
            "dbg_d90",
            "72fd85c0b66c0a78"
        ],
        "x": 54,
        "y": 19,
        "w": 1662,
        "h": 222
    },
    {
        "id": "grp_hourly4_import",
        "type": "group",
        "z": "de81f903528426df",
        "name": "Export CSV Import-HA — 4 jours (hourly → fichier unique)",
        "style": {
            "label": true
        },
        "nodes": [
            "inj_now_hourly4_imp",
            "fn_window_hourly4_imp",
            "http_homedata_hourly4_imp",
            "fn_build_from_hd_hourly4_imp",
            "http_gmh_hourly4_imp",
            "chg_stash_measure_hourly",
            "filein_daily_base",
            "fn_make_import_hourly_onefile",
            "file_write_hourly4_imp",
            "dbg_api_hourly4_imp",
            "7aee760e91d59dc0"
        ],
        "x": 54,
        "y": 299,
        "w": 1792,
        "h": 262
    },
    {
        "id": "71e690e9e4008495",
        "type": "group",
        "z": "de81f903528426df",
        "name": "Pour rebas de Base_kWh",
        "style": {
            "label": true
        },
        "nodes": [
            "5f6095cf99a88e16",
            "a14d1d1786d2824a",
            "abc803b5bc72483a"
        ],
        "x": 74,
        "y": 699,
        "w": 872,
        "h": 82
    },
    {
        "id": "inj_d90_now",
        "type": "inject",
        "z": "de81f903528426df",
        "g": "grp_daily90_all",
        "name": "Tester (J-94 → J-5)",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 60,
        "wires": [
            [
                "fn_d90_window"
            ]
        ]
    },
    {
        "id": "fn_d90_window",
        "type": "function",
        "z": "de81f903528426df",
        "g": "grp_daily90_all",
        "name": "Fenêtre J-60 00:00 → J-10 23:59:59",
        "func": "const today = new Date();\ntoday.setHours(0,0,0,0);\nconst beginLocal = new Date(today.getTime() - 60*24*3600*1000);\nconst endLocal   = new Date(today.getTime() - 10*24*3600*1000 - 1000);\nmsg.date_begin = Math.floor(beginLocal.getTime()/1000);\nmsg.date_end   = Math.floor(endLocal.getTime()/1000);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 90,
        "wires": [
            [
                "72fd85c0b66c0a78"
            ]
        ]
    },
    {
        "id": "http_d90_homedata",
        "type": "http request",
        "z": "de81f903528426df",
        "g": "grp_daily90_all",
        "name": "GET /api/homesdata",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://app.muller-intuitiv.net/api/homesdata",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "msg",
                "valueValue": "token"
            }
        ],
        "x": 920,
        "y": 100,
        "wires": [
            [
                "fn_d90_build",
                "dbg_d90"
            ]
        ]
    },
    {
        "id": "fn_d90_build",
        "type": "function",
        "z": "de81f903528426df",
        "g": "grp_daily90_all",
        "name": "Build gethomemeasure (3hours)",
        "func": "const hd = msg.payload;\nconst home = hd && hd.body && Array.isArray(hd.body.homes) ? hd.body.homes[0] : null;\nif (!home) { node.error('homesdata inattendu: body.homes[0] manquant.', msg); return null; }\nconst homeId = home.id;\nconst nmgModule = Array.isArray(home.modules) ? home.modules.find(m => m.type === 'NMG') : null;\nconst bridgeId = (nmgModule && nmgModule.id)\n  || (Array.isArray(home.rooms) && home.rooms[0] && home.rooms[0].therm_relay)\n  || homeId;\nconst roomIds = Array.isArray(home.rooms) ? home.rooms.map(r => r.id) : [];\nif (!roomIds.length) { node.error('Aucune room dans homesdata.', msg); return null; }\nmsg.payload = {\n  date_begin: msg.date_begin,\n  date_end:   msg.date_end,\n  scale: '1day',\n  app_identifier: 'app_muller',\n  home: { id: homeId, rooms: roomIds.map(id => ({ id, bridge: bridgeId, type: 'sum_energy_elec$0' })) }\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 90,
        "wires": [
            [
                "http_d90_gmh"
            ]
        ]
    },
    {
        "id": "http_d90_gmh",
        "type": "http request",
        "z": "de81f903528426df",
        "g": "grp_daily90_all",
        "name": "POST /api/gethomemeasure (1day)",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://app.muller-intuitiv.net/api/gethomemeasure",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Authorization",
                "keyValue": "",
                "valueType": "msg",
                "valueValue": "token"
            },
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1500,
        "y": 90,
        "wires": [
            [
                "fn_d90_make_all",
                "dbg_d90"
            ]
        ]
    },
    {
        "id": "fn_d90_make_all",
        "type": "function",
        "z": "de81f903528426df",
        "g": "grp_daily90_all",
        "name": "CSV unique (daily) + base fin J-5",
        "func": "// Sortie : UN fichier CSV pour tous les sensors\n// Format: statistic_id,start,state,sum   avec start = \"dd.mm.yyyy 00:00\" (Europe/Zurich)\n\nconst body = msg.payload?.body; const rooms = body?.home?.rooms || [];\nif (!rooms.length) { return null; }\n\nconst exportDir = '/data/intuis/ha_import';\n\n// mapping room -> sensor_id (HA)\nconst MAP = {\n  '3165697331':'sensor.conso_entree_hourly',\n  '3330257038':'sensor.conso_chambre_d_amis_hourly',\n  '2979072780':'sensor.conso_salle_de_bain_filles_hourly',\n  '3957213003':'sensor.conso_chambre_filles_hourly',\n  '1707740468':'sensor.conso_chambre_parents_hourly',\n  '3807033309':'sensor.conso_couloir_hourly',\n  '1668330398':'sensor.conso_cuisine_hourly',\n  '3761003540':'sensor.conso_salle_a_manger_hourly',\n  '3357075329':'sensor.conso_salle_de_bain_parents_hourly',\n  '2064991252':'sensor.conso_salon_hourly',\n  '3864339241':'sensor.conso_toilettes_visiteurs_hourly'\n};\n\nfunction fmtStartDay(tsMs){\n  const d = new Date(tsMs);\n  const parts = new Intl.DateTimeFormat('fr-CH', { timeZone:'Europe/Zurich', year:'numeric', month:'2-digit', day:'2-digit' }).formatToParts(d);\n  const get = t => parts.find(p => p.type === t)?.value || '';\n  return `${get('day')}.${get('month')}.${get('year')} 00:00`;\n}\n\nconst rows = [];       // {ts, sensorId, state, sum, startStr}\nconst baseMap = {};    // kWh cumulés fin J-5\n\nfor (const r of rooms){\n  const sensorId = MAP[r.id]; if (!sensorId) continue;\n  const m = r.measures && r.measures[0]; if (!m || !Array.isArray(m.value) || !m.value.length) continue;\n  const step = m.step_time || 86400; const edge0 = m.beg_time - step/2; // 00:00 local\n  let cumWh = 0;\n  for (let i=0;i<m.value.length;i++){\n    const tsEdge = (edge0 + i*step) * 1000;\n    const wh = Number(m.value[i][0]) || 0; cumWh += wh;\n    const state = (cumWh/1000); const sum = (cumWh/1000);\n    rows.push({ ts: tsEdge, sensorId, state, sum, startStr: fmtStartDay(tsEdge) });\n  }\n  baseMap[sensorId] = Number((cumWh/1000).toFixed(3));\n}\n\nrows.sort((a,b)=> a.ts - b.ts || (a.sensorId < b.sensorId ? -1 : 1));\n\nconst lines = ['statistic_id,start,state,sum'];\nfor (const r of rows){ lines.push(`${r.sensorId},${r.startStr},${r.state.toFixed(3)},${r.sum.toFixed(3)}`); }\n\nconst d0 = new Date(msg.date_begin*1000).toISOString().slice(0,10).replace(/-/g,'');\nconst d1 = new Date(msg.date_end*1000).toISOString().slice(0,10).replace(/-/g,'');\n\n// expose la base fin J-5\nglobal.set('ha_stat_base_90_end', baseMap);\n\nreturn [{ payload: lines.join('\\n')+'\\n', filename: `${exportDir}/ha_import_daily.csv` }];",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 150,
        "wires": [
            [
                "file_d90_all"
            ]
        ]
    },
    {
        "id": "file_d90_all",
        "type": "file",
        "z": "de81f903528426df",
        "g": "grp_daily90_all",
        "name": "Écrire CSV unique (overwrite)",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1560,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "dbg_d90",
        "type": "debug",
        "z": "de81f903528426df",
        "g": "grp_daily90_all",
        "name": "DBG DAILY (optionnel)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1190,
        "y": 150,
        "wires": []
    },
    {
        "id": "72fd85c0b66c0a78",
        "type": "function",
        "z": "de81f903528426df",
        "g": "grp_daily90_all",
        "name": "Set Authorization header",
        "func": "// Récupère le token Intuis depuis global et prépare msg.token (Bearer ...)\nconst t = global.get('AccessToken') || global.get('token');\nif (!t) {\n  node.error('Token Intuis introuvable dans global.intuis_token / global.token');\n  return null;\n}\nmsg.token = t.startsWith('Bearer ') ? t : `Bearer ${t}`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 160,
        "wires": [
            [
                "http_d90_homedata"
            ]
        ]
    },
    {
        "id": "inj_now_hourly4_imp",
        "type": "inject",
        "z": "de81f903528426df",
        "g": "grp_hourly4_import",
        "name": "Tester maintenant (J-4 → J-1)",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 220,
        "y": 380,
        "wires": [
            [
                "fn_window_hourly4_imp"
            ]
        ]
    },
    {
        "id": "fn_window_hourly4_imp",
        "type": "function",
        "z": "de81f903528426df",
        "g": "grp_hourly4_import",
        "name": "Fenêtre locale J-9 00:00 → J-1 23:59:59",
        "func": "const today = new Date();\ntoday.setHours(0,0,0,0); // 00:00 local aujourd'hui\nconst beginLocal = new Date(today.getTime() - 10*24*3600*1000); // J-4 00:00\nconst endLocal   = new Date(today.getTime());        // hier 23:59:59\nmsg.date_begin = Math.floor(beginLocal.getTime()/1000);\nmsg.date_end   = Math.floor(endLocal.getTime()/1000);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 410,
        "wires": [
            [
                "7aee760e91d59dc0"
            ]
        ]
    },
    {
        "id": "http_homedata_hourly4_imp",
        "type": "http request",
        "z": "de81f903528426df",
        "g": "grp_hourly4_import",
        "name": "GET /api/homesdata",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://app.muller-intuitiv.net/api/homesdata",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "msg",
                "valueValue": "token"
            }
        ],
        "x": 940,
        "y": 410,
        "wires": [
            [
                "fn_build_from_hd_hourly4_imp",
                "dbg_api_hourly4_imp"
            ]
        ]
    },
    {
        "id": "fn_build_from_hd_hourly4_imp",
        "type": "function",
        "z": "de81f903528426df",
        "g": "grp_hourly4_import",
        "name": "Build gethomemeasure (1h) depuis homesdata",
        "func": "const hd = msg.payload;\nconst home = hd && hd.body && Array.isArray(hd.body.homes) ? hd.body.homes[0] : null;\nif (!home) { node.error('homesdata inattendu: body.homes[0] manquant.', msg); return null; }\nconst homeId = home.id;\nconst nmgModule = Array.isArray(home.modules) ? home.modules.find(m => m.type === 'NMG') : null;\nconst bridgeId = (nmgModule && nmgModule.id)\n  || (Array.isArray(home.rooms) && home.rooms[0] && home.rooms[0].therm_relay)\n  || homeId;\nconst roomIds = Array.isArray(home.rooms) ? home.rooms.map(r => r.id) : [];\nif (!roomIds.length) { node.error('Aucune room dans homesdata.', msg); return null; }\nmsg.payload = {\n  date_begin: msg.date_begin,\n  date_end:   msg.date_end,\n  scale: '1hour',\n  app_identifier: 'app_muller',\n  home: { id: homeId, rooms: roomIds.map(id => ({ id, bridge: bridgeId, type: 'sum_energy_elec$0' })) }\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 440,
        "wires": [
            [
                "http_gmh_hourly4_imp"
            ]
        ]
    },
    {
        "id": "http_gmh_hourly4_imp",
        "type": "http request",
        "z": "de81f903528426df",
        "g": "grp_hourly4_import",
        "name": "POST /api/gethomemeasure (1hour)",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://app.muller-intuitiv.net/api/gethomemeasure",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Authorization",
                "keyValue": "",
                "valueType": "msg",
                "valueValue": "token"
            },
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1670,
        "y": 440,
        "wires": [
            [
                "chg_stash_measure_hourly"
            ]
        ]
    },
    {
        "id": "chg_stash_measure_hourly",
        "type": "change",
        "z": "de81f903528426df",
        "g": "grp_hourly4_import",
        "name": "Garder mesure → msg.measure",
        "rules": [
            {
                "t": "set",
                "p": "measure",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "x": 270,
        "y": 520,
        "wires": [
            [
                "filein_daily_base"
            ]
        ]
    },
    {
        "id": "filein_daily_base",
        "type": "file in",
        "z": "de81f903528426df",
        "g": "grp_hourly4_import",
        "name": "Lire /data/intuis/ha_import/daily/ha_import_daily.csv",
        "filename": "/data/intuis/ha_import/ha_import_daily.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": true,
        "encoding": "none",
        "allProps": false,
        "x": 660,
        "y": 520,
        "wires": [
            [
                "fn_make_import_hourly_onefile"
            ]
        ]
    },
    {
        "id": "fn_make_import_hourly_onefile",
        "type": "function",
        "z": "de81f903528426df",
        "g": "grp_hourly4_import",
        "name": "Make HOURLY import (1 fichier toutes pièces, cumul = daily fin + heures)",
        "func": "// Entrées:\n//  - msg.measure = réponse /gethomemeasure (1h) pour J-4 → J-1\n//  - msg.payload = contenu texte du ha_import_daily.csv (si dispo)\n// Sortie:\n//  - /data/intuis/ha_import/ha_import_hourly.csv\n\nconst MAP = {\n  '3165697331':'sensor.conso_entree_hourly',\n  '3330257038':'sensor.conso_chambre_d_amis_hourly',\n  '2979072780':'sensor.conso_salle_de_bain_filles_hourly',\n  '3957213003':'sensor.conso_chambre_filles_hourly',\n  '1707740468':'sensor.conso_chambre_parents_hourly',\n  '3807033309':'sensor.conso_couloir_hourly',\n  '1668330398':'sensor.conso_cuisine_hourly',\n  '3761003540':'sensor.conso_salle_a_manger_hourly',\n  '3357075329':'sensor.conso_salle_de_bain_parents_hourly',\n  '2064991252':'sensor.conso_salon_hourly',\n  '3864339241':'sensor.conso_toilettes_visiteurs_hourly'\n};\n\nfunction fmtLocal(tsMs){\n  const parts = new Intl.DateTimeFormat('fr-CH',{\n    timeZone:'Europe/Zurich',year:'numeric',month:'2-digit',day:'2-digit',hour:'2-digit',minute:'2-digit',hour12:false\n  }).formatToParts(new Date(tsMs));\n  const get=t=>parts.find(p=>p.type===t)?.value||'';\n  return `${get('day')}.${get('month')}.${get('year')} ${get('hour')}:${get('minute')}`;\n}\n\n// 1) baseSums depuis le DAILY (max sum par sensor)\nconst baseSums = {}; // kWh\ntry {\n  const text = typeof msg.payload === 'string' ? msg.payload : '';\n  if (text) {\n    const lines = text.trim().split(/\\r?\\n/);\n    for (const line of lines.slice(1)) {\n      const parts = line.split(',');\n      if (parts.length < 4) continue;\n      const sensor = parts[0];\n      const sum = Number(parts[3]);\n      if (!Number.isFinite(sum)) continue;\n      baseSums[sensor] = Math.max(baseSums[sensor] || 0, sum);\n    }\n  }\n} catch(e){ node.warn('Lecture daily.csv impossible: '+e.message); }\n\n// 2) mesures horaires\nconst body = msg.measure?.body; const rooms = body?.home?.rooms || [];\nif (!rooms.length) return null;\n\nconst lines = ['statistic_id,start,state,sum'];\nfor (const r of rooms){\n  const sensorId = MAP[r.id]; if (!sensorId) continue;\n  const m = r?.measures?.[0]; if (!m || !Array.isArray(m.value) || !m.value.length) continue;\n  const step = m.step_time || 3600;          // 1h\n  const edge0 = m.beg_time - step/2;         // H:00 local\n\n  // cumul continu: on part du dernier cumul du daily\n  let totalWh = (baseSums[sensorId] || 0) * 1000; // kWh -> Wh\n\n  for (let i=0;i<m.value.length;i++){\n    const tsEdgeMs = (edge0 + i*step) * 1000;\n    const wh = Number(m.value[i][0]) || 0; totalWh += wh;\n    const kwh = totalWh/1000;\n    const startStr = fmtLocal(tsEdgeMs);\n    lines.push(`${sensorId},${startStr},${kwh.toFixed(3)},${kwh.toFixed(3)}`);\n  }\n}\n\nmsg.payload = lines.join('\\n')+'\\n';\nmsg.filename = '/data/intuis/ha_import/ha_import_hourly.csv';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 520,
        "wires": [
            [
                "file_write_hourly4_imp"
            ]
        ]
    },
    {
        "id": "file_write_hourly4_imp",
        "type": "file",
        "z": "de81f903528426df",
        "g": "grp_hourly4_import",
        "name": "Écrire ha_import_hourly.csv (overwrite)",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1610,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "dbg_api_hourly4_imp",
        "type": "debug",
        "z": "de81f903528426df",
        "g": "grp_hourly4_import",
        "name": "DBG API (optionnel)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "measure",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 340,
        "wires": []
    },
    {
        "id": "7aee760e91d59dc0",
        "type": "function",
        "z": "de81f903528426df",
        "g": "grp_hourly4_import",
        "name": "Set Authorization header",
        "func": "// Récupère le token Intuis depuis global et prépare msg.token (Bearer ...)\nconst t = global.get('AccessToken') || global.get('token');\nif (!t) {\n  node.error('Token Intuis introuvable dans global.intuis_token / global.token');\n  return null;\n}\nmsg.token = t.startsWith('Bearer ') ? t : `Bearer ${t}`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 340,
        "wires": [
            [
                "http_homedata_hourly4_imp"
            ]
        ]
    },
    {
        "id": "5f6095cf99a88e16",
        "type": "inject",
        "z": "de81f903528426df",
        "g": "71e690e9e4008495",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 740,
        "wires": [
            [
                "a14d1d1786d2824a"
            ]
        ]
    },
    {
        "id": "a14d1d1786d2824a",
        "type": "file in",
        "z": "de81f903528426df",
        "g": "71e690e9e4008495",
        "name": "ha_import_hourly.csv",
        "filename": "/data/intuis/ha_import/ha_import_hourly.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 440,
        "y": 740,
        "wires": [
            [
                "abc803b5bc72483a"
            ]
        ]
    },
    {
        "id": "abc803b5bc72483a",
        "type": "function",
        "z": "de81f903528426df",
        "g": "71e690e9e4008495",
        "name": "Pousse Base_kWh prends j-1 à 23h00",
        "func": "// Lit msg.payload (CSV texte) et charge base_kwh = somme à \"hier 00:00\" (Europe/Zurich)\n// CSV format: statistic_id,start,state,sum   avec start \"dd.mm.yyyy HH:MM\"\n\nconst text = (typeof msg.payload === 'string') ? msg.payload : '';\nif (!text) { node.warn('CSV vide'); return null; }\n\nconst lines = text.trim().split(/\\r?\\n/);\nif (lines.length <= 1) { node.warn('CSV: seulement l’en-tête ?'); return null; }\n\nconst header = lines[0].toLowerCase();\nif (!(header.includes('statistic_id') && header.includes('start') && header.includes('sum'))) {\n  node.error('Entête inattendu (attendu: statistic_id,start,state,sum)'); \n  return null;\n}\n\n// construit la chaîne \"hier 00:00\" au format du CSV (Europe/Zurich)\nconst tz = 'Europe/Zurich';\nconst now = new Date();\nconst todayLocal = new Intl.DateTimeFormat('fr-CH', { timeZone: tz, year:'numeric', month:'2-digit', day:'2-digit' })\n                     .formatToParts(now);\nfunction toLocalMidnightYesterdayString(){\n  // calcule \"hier\" local\n  const d = new Date(now);\n  // passe à 00:00 local d'aujourd'hui puis -1 jour\n  const today00 = new Date(d);\n  // remet en 00:00 local par décalage de l'objet Date \"naif\"\n  today00.setHours(0,0,0,0);\n  const y = new Date(today00.getTime() - 24*3600*1000 );\n  const parts = new Intl.DateTimeFormat('fr-CH', {\n    timeZone: tz, year:'numeric', month:'2-digit', day:'2-digit',\n    hour:'2-digit', minute:'2-digit', hour12:false\n  }).formatToParts(y);\n  const get = t => parts.find(p => p.type===t)?.value || '';\n  // IMPORTANT: on force \"00:00\"\n  const dd = get('day'), mm = get('month'), yyyy = get('year');\n  return `${dd}.${mm}.${yyyy} 23:00`;\n}\nconst targetStart = toLocalMidnightYesterdayString();\n\nconst base = {};\nfor (let i=1;i<lines.length;i++){\n  const line = lines[i].trim(); if (!line) continue;\n  const [id,start, stateS, sumS] = line.split(',');\n  if (!id || !start || sumS===undefined) continue;\n  if (start.trim() !== targetStart) continue;\n  let sum = Number(sumS);\n  if (!Number.isFinite(sum)) {\n    const st = Number(stateS);\n    if (Number.isFinite(st)) sum = st;\n  }\n  if (!Number.isFinite(sum)) continue;\n  base[id.trim()] = Number(sum.toFixed(3));\n}\n\n// Sauvegarde globale (store file si dispo)\nconst STORE = 'file';\ntry { global.set('base_kwh', base, STORE); } catch(e) { global.set('base_kwh', base); }\n\nnode.status({fill:'green',shape:'dot',text:`baseline (avant-hier soir) chargée: ${Object.keys(base).length} sensors`});\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 740,
        "wires": [
            []
        ]
    }
]